In [46]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_csv('netflix_titles.csv')

In [48]:
import sqlalchemy as sal
engine = sal.create_engine('mssql://VIJAY\SPARTA/netflix?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [49]:
df.to_sql('netflix_raw', con=conn , index=False, if_exists = 'append')
conn.close()

In [50]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [51]:
# checking if python can read the foreign character 

df[df.show_id=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [52]:
# python is able to read
# we have to check this from the sql sever table description 
# as the probelm persist in SQL column which is set as varchar 
# as we have to change it to nvarchar as it can read foreign character

In [53]:
# now to make the data length mare definative by checking their max lenghth and assigning the vaule according to it 

max(df.title.str.len())

104

In [54]:
max(df.show_id.str.len())

5

In [55]:
max(df.type.str.len())

7

In [56]:
max(df.director.str.len())

208.0

In [57]:
max(df.cast.dropna().str.len())

771

In [58]:
max(df.country.str.len())

123.0

In [59]:
max(df.date_added.str.len())

19.0

In [60]:
max(df.rating.str.len())

8.0

In [61]:
max(df.duration.str.len())

10.0

In [62]:
max(df.listed_in.str.len())

79

In [63]:
max(df.description.str.len())

248

In [64]:
# make the cahngein SQL table schema

In [66]:
# checking for the null value 

#df.isnull()
# so the true means is is null and false means not null
# so we can sum it as true =1 & false =0 so when we sum it the true value adds up and tell the no of null value in a column 
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64